---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";

const allPosts = await Astro.glob("../pages/posts/*.md");
const pageTitle = "Blog about pickles 🥒🧂🫙";
---

<BaseLayout>
	<h1>{pageTitle}</h1>
	<p>This is where I will post about my Astro learning journey.</p>
	<ul>
		{allPosts.map((post) => <BlogPost url={post.url} title={post.frontmatter.title} />)}
	</ul>
</BaseLayout>
