---
import Social from "./Social.astro";
---

<footer>
  <p>check out my
    <Social platform="github" username="nichelicorn" />
    or
    <Social platform="twitter" username="nichelicorn" />
  </p>  
</footer>